* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #4e6f9c !important;
  color: #fff !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9pt;
  background-color: #f7ce46 !important;
  color: #fff !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  letter-spacing: 0.2px;
}

a {
  color: #fbe785;
  text-decoration: none;
}

a:hover {
  color: #ef8784;
}

.parent-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: 0px solid #a9bcd0;
  border-radius: 15px;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  border: 0px solid #a9bcd0;
  border-radius: 15px;
  background-color: #f7ce46;
}

.container {
  order: 1;
  width: 700px;
  border: 0px solid #a9bcd0;
  display: flex;
  flex-direction: column;
  height: auto;
  border: 0px solid #a9bcd0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #4d6f9a;
}

.header {
  order: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px;
  text-align: left;
  width: 100%;
  padding: 4px;
  border: 0px solid #ef8784;
  height: auto;
  letter-spacing: 2px;
  margin-top: 10px;
}

.banner {
  order: 2;
  width: 100%;

  border: 0px solid #a9bcd0;
  height: auto;
}

.banner img {
  width: 100%;
}

.footer {
  order: 3;
  height: auto;
}

.menu {
  order: 3;
  height: auto;
}

.content {
  order: 4;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #4d6f9a;
}

.content-child01 {
  display: flex;
  flex-direction: column;
  height: auto;
}

.content-projects {
  order: 1;
  height: auto;
  display: flex;
  flex-direction: column;
}

.content h1 {
  color: #ffb1af;
  font-size: 16pt;
  margin-bottom: 5px;
}

.project01 {
  margin-top: 20px;
  order: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: space-around;
  align-items: stretch;
  gap: 20px;
}

.project01-left {
  order: 1;
  width: 90%;
  font-size: 11pt;
  text-align: left;
  padding: 0px;
}

.project01-right {
  order: 2;
  width: 100%;
  font-size: 11pt;
}

.project01-right ul {
  list-style-type: none;
}

.projectImg {
  max-width: 100%;
  max-height: 100%;
}

.tag {
  display: inline-block;
  color: white;
  background-color: #dd7d79;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  border-radius: 84px;
  border: none;
}
